a {
	color: #22BCE0;
}
body {
	background: #EEEEEE;
	font-size: 16px;
}
header {
	background: #343B54;
	color: white;
	overflow: hidden;
	padding: 1em;
	position: relative;
}
header figure {
	float:left;
	margin:0;
}
header h1 {
	font-size: 3em;
	font-weight: normal;
	font-family: 'Fjalla One', sans-serif;
	margin: .2em 0 0 .5em;
	float: left;
}
header h2 {
	margin: 1.5em 0 0 0;
	float: left;
	padding-left: .5em;
}

header .avatar img{
	border-radius: 50%;
	width: 3.3em;
}
header .avatar {
	margin:1em 1em 0 0;
	position: absolute;
	right: 0;
	top:0;
}
header .logo img {
	border-right: 1px solid white;
	margin: 0;
	padding-right: 1em;
	width: 4em;
}
