@font-face {
	font-family: 'Pulse';
	src:url('../fonts/Pulse.eot?z04n5');
	src:url('../fonts/Pulse.eot?#iefixz04n5') format('embedded-opentype'),
		url('../fonts/Pulse.woff?z04n5') format('woff'),
		url('../fonts/Pulse.ttf?z04n5') format('truetype'),
		url('../fonts/Pulse.svg?z04n5#Pulse') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'Pulse';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-triangle-down:before {
	content: "\f05b";
	color: #DD4F24;
}

.icon-triangle-up:before {
	content: "\f0aa";
	color: green;
}

.icon-pen1:before {
	content: "\e908";
	margin-right: 0.4em;
}

.icon-star-full:before {
	content: "\e9d9";
	color: #FFBE2C;
	margin-right: 0.4em;
	position: relative;
	top: 0.1em;
}


a {
	color: #22BCE0;
}
body {
	background: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
footer {
	color: rgba(255,255,255,.7);
	background: #22BCE0;
	text-align: center;
	padding: 1em;
}
footer p:first-child {
	margin-bottom: 0;
}
footer p:last-child {
	margin-top: 0;
}
footer p:last-child:after {
	content: " -"
}
footer p:last-child:before {
	content: "- "
}
header {
	background: #343B54;
	color: white;
	overflow: hidden;
	padding: 1em;
	position: relative;
}
header figure {
	float: left;
	margin: 0;
}
header h1 {
	float: left;
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	margin: 0.2em 0 0 .3em;
}
header h1 p {
	display: inline-block;
	font-size: .8em;
	padding-right: 3em;
}
header .avatar img{
	border-radius: 50%;
	width: 2.5em;
}
header .avatar {
	margin: 1em 1em 0 0;
	position: absolute;
	right: 0;
	top:0;
}
header .logo {
	border-right: 1px solid white;
	padding-right: .5em;
}
header .logo img {
	margin: 0;
	width: 2.5em;

}	
header .logo img:hover {
    -webkit-transform:rotate(360deg);
	-moz-transform:rotate(360deg);
	-o-transform:rotate(360deg);
	-ms-transform:rotate(360deg);
		-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
}

nav {
	background: #80BCA3;
	margin: 0;	
	padding: 0 5em 0 .5em;
	position: relative;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul .publicar {
	position: absolute;
	right: 0;
	top:-0.3em;
}
nav ul .publicar a {
	background: #22BCE0;
	border-radius: 0.2em;
	box-shadow: rgba(0,0,0,0.6) 5px 5px 20px;
	font-style: italic;
	padding: 0.9em 0.5em;
	text-decoration: none;
	text-shadow: rgba(0,0,0,0.6) 2px 2px 5px; 
}

nav ul li:hover {
	background: #70A18D;
}
nav ul li {
	display: inline-block;
	font-size: .8em;
	margin: 0 .5em 0 0;
	-webkit-transition: 0.3s;
}
nav ul li a {
	color: white;
	display: block;
	padding: 0.5em 0;
	text-decoration: none; 
}

.section {
	margin: .5em;
}
.section .item {
	background: white;
	border-bottom: 3px solid #22BCE0;
	min-height: 128px;
	position: relative;
	margin-bottom: 3em;
}
.section .item .autor_item {
	color: #AAA;
	margin-left: 7em;
}
.section .item .datos_item {
	text-align: right;
	margin: 1em 1em 0 7em;
	padding-bottom: 0.7em;
}
.section .item .datos_item .fecha_item {
 color: #AAA;
}
.section .item .datos_item .tag_item {
	background: #F4502A;
	border-radius: 0.5em;
	color: white;
	float: left;
	display: inline-block;
	padding: 0.2em 0.5em;
	text-decoration: none;
}
.section .item .imagen_item {
	float: left;	
	margin: 0 1em 0 0;
}
.section .item .imagen_item img {
	width: 96px;
}
.section .item .titulo_item {
	font-size: 1em;
	font-style: italic;
	margin-left: 5.8em;
	padding: 0.5em 0.4em 0 0;
}
.section .item .titulo_item a {
	color: #444;
	text-decoration: none;
}
.section .item .votacion {
	background: white;
	border-radius: 0 0 0.2em 0.2em;
	left: 5%;
	margin-top: 3px;
	padding: 0.2em;
	position: absolute;
	top: 100%;
	width: 90%;
}
.section .item .votacion a {
	text-decoration: none;
}
.section .item .votacion .comentarios_item,
.section .item .votacion .guardar_item {
	float: right;
}
.wrap {
	background: #eee;
	
	margin: 0 auto;
	width: 1200px;	
}
@media screen and (min-width: 800px) {
	.section {
		overflow: hidden;
	}

	.section .item {
		width: 49%;
		float: left;
	}
	.section .item:nth-child(odd) {
		margin-right: 2%;
	}
} 


	








